.pagination {
  flex-wrap: wrap;
}

.page-link {
  color: #000;
  min-width: 40px;
  text-align: center;
  cursor: pointer;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  opacity: 1;
  background-color: #fff;
  border-color: #dee2e6;
}
