<div class="container">
  <ng-template #loading>
    <div class="fullscreen-loader">
      <div class="spinner-border spinner" role="status">
      </div>
    </div>
  </ng-template>

  <ng-template #feed>
    <app-nav-pill
      [activeFeed]="activeFeed"
      (feedChange)="switchFeed($event)">
    </app-nav-pill>

    <app-news-card
      *ngFor="let story of (newsStore.newsItems$ | async)"
      [story]="story">
    </app-news-card>

    <app-pagination
      [currentPage]="newsStore.currentPage"
      [totalPages]="newsStore.totalPages"
      (pageChange)="loadPage($event)">
    </app-pagination>
  </ng-template>

  <ng-container *ngIf="newsStore.loading$ | async; else feed">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </ng-container>
</div>
